body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #363636;
}

* {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  height: 104px;
  padding-left: 34px;
  border-bottom: 1px solid #d4d4d4;
}
.mob-menu {
  display: flex;
  height: 100%;
  align-items: center;
  flex-grow: 1;
}
.search-input {
  background: url(../img/search-icon.svg) no-repeat;
  background-position: center left;
  border: none;
  padding-left: 38px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-left: 34px;
}

.logo {
  width: 68px;
}

.line {
  height: 100%;
  width: 1px;
  background-color: #a5a5a5;
  margin-left: 34px;
}

.navigation {
  margin-right: 44px;
  margin-left: auto;
}

.navigation-link {
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin-right: 18px;
}

.navigation-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.navigation-link:hover:after {
  transform: scaleX(1);
}
.mobile-buttons {
  display: none;
  margin-left: auto;
}
.m-menu-button,
.search-button {
  padding: 5px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.menu-line {
  display: block;
  height: 2px;
  background-color: black;
  width: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 40px;
}

.button-group {
  height: 100%;
  display: flex;
}

.button {
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #5671f6;
  color: white;
}

.sign-up {
  font-size: 18px;
  line-height: 21px;
  color: #5671f6;
  border: none;
  background-color: #fff;
  padding-left: 34px;
  padding-right: 34px;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
}

.login {
  font-size: 18px;
  line-height: 21px;
  background-color: #fff;
  color: #5671f6;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
}

.container {
  max-width: 1130px;
  margin: auto;
}

.film {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #d4d4d4;
}

.film-wrapper {
  display: flex;
}

.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.poster {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 358px;
}

.trailer-button {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0px 0px 5px 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.trailer-button-icon {
  margin-right: 14px;
}

.film-title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 16px;
}

.film-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-bottom: 32px;
  display: block;
}

.film-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  max-width: 514px;
  margin-bottom: 50px;
}

.about-film {
  display: flex;
  margin-bottom: 50px;
}

.about-text {
  display: block;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
}

.about-text-bold {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}

.left-side {
  margin-right: 40px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-counter {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5671f6;
  border-radius: 10px;
  margin-right: 28px;
  color: #5671f6;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.rating-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin-top: 0;
  margin-bottom: 12px;
}

.rating-text {
  display: block;
  margin-bottom: 7px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.rating-text-bold {
  font-weight: bold;
}

.cast {
  padding-top: 70px;
  padding-bottom: 100px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.section-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
  margin-right: 30px;
}

.section-title.active {
  color: #363636;
  font-weight: 900;
}
.tab {
  cursor: pointer;
}
.tabs-content {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  visibility: hidden;
}
.tabs-content.visible {
  visibility: visible;
  display: flex;
}
.card {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 25px;
}

.card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.name {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
  margin-top: 0;
  margin-bottom: 6px;
}

.en-name {
  color: #a5a5a5;
}
.news {
  background-color: #f3f3f3;
  padding-top: 70px;
  padding-bottom: 100px;
}
.section-news-title {
  font-weight: 900;
  color: black;
  margin-bottom: 60px;
}
.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news-card {
  flex-basis: 23%;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
}
.news-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.news-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: black;
  margin-top: 14px;
}
.button-next {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
  display: none;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .card-image {
    width: 70px;
    height: 70px;
  }
  .header {
    height: 90px;
    padding-left: 20px;
  }
  .sign-up {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navigation {
    margin-right: 20px;
  }
  .search-input {
    margin-left: 20px;
  }
  .navigation-link {
    margin-right: 10px;
  }
  .line {
    margin-left: 20px;
  }
}
@media (max-width: 991px) {
  .navigation {
    display: none;
  }
  .container {
    max-width: 760px;
  }
  .search-input {
    margin-right: auto;
  }
  .film-title {
    font-size: 24px;
    line-height: 1.4;
  }
  .film-subtitle {
    margin-bottom: 20px;
  }
  .film-description,
  .about-film {
    margin-bottom: 30px;
  }
  .about-text-bold {
    display: block;
    margin-bottom: 10px;
  }
  .card-image {
    width: 100px;
    height: 100px;
  }
  .card {
    flex-basis: 50%;
  }
  .news-card {
    flex-basis: 48%;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .header {
    height: 70px;
  }
  .mob-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 68px;
    background: #5671F6;
  }
  .mob-menu.active {
    display: flex;
  }
  .button-group {
    height: auto;
    flex-direction: column;
  }
  .button-next {
    display: block;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .navigation-link {
    color: white;
    margin-right: 0;
    margin-bottom: 18px;
  }
  .navigation-link:last-child {
    margin-bottom: 0;
  }
  .sign-up {
    background-color:transparent;
    color: white;
    border: none;
    margin-bottom: 30px;
  }
  .login {
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
  }
  .search-input {
    background-color: #fff;
    border-radius: 5px;
    border:none;
    background-image: none;
    width: 260px;
    height: 50px;
    margin: 0;
  }
  .film {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .film-wrapper {
    flex-wrap: wrap;
  }
  .film-text {
    order: -1;
    margin-bottom: 30px;
  }
  .cast {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .news {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .news-card {
    max-width: 90%;
  }
  .line {
    display: none;
  }
  .mobile-buttons {
    display: block;
  }
  .header {
    margin-left: 2.5%;
    padding-right: 2.5%;
  }
}
@media (max-width: 576px) {
  .container {
    width: 95%;
  }
  .film-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
  }
  .film-subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 26px;
  }
  .film-description {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
  }
  .about-film {
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .about-text-bold {
    display: inline-block;
  }
  .film-trailer {
    margin-bottom: 30px;
    margin-right: auto;
  }
  .film-text {
    order: 1;
    margin-bottom: 0;
  }
  .poster {
    width: 100%;
  }
  .card {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .card-image {
    width: 60px;
    height: 60px;
  }
  .tabs {
    margin-bottom: 30px;
  }
  .cast {
    padding-bottom: 50px;
  }
  .news-card {
    flex-basis: 100%;
  }
}
